

.switchRate{
    text-align: center;
    position: absolute;
    left: 55vw;
    top: .8vw;
    background: #007BFF;
    border: 2px solid white;
    margin-left: 15px;
        .base{
            cursor: pointer;
            display: inline-block;
            padding: 5px 20px 5px 20px;
            border: 1px solid white;
        }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            cursor: pointer;
            display: block;
            border: 1px solid white;
        }
        li:hover{
            background: white;
            color: #007BFF;
            
        }
    }
}