

.switchDateWrapper{
    
   position: absolute; 
   display: flex;
   left: 21vw;
   top: .5vw;
}
.switchDate{
    text-align: center;
    
    
    background: #007BFF;
    border: 2px solid white;
    
        .baseDate{
            cursor: pointer;
            display: inline-block;
            padding: 5px 20px 5px 20px;
            border: 1px solid white;
        }

    
}

.dateList{
        overflow: auto;
        height: 0;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            cursor: pointer;
            display: block;
            border: 1px solid white;
        }
        li:hover{
            background: white;
            color: #007BFF;
            
        }
    }
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.dateListShow{
    height: 300px;
}